$white:#fff;
$violet:#7050E5;
$orange:#FF8B00;
$gray:#878787;
$dark:#232323;
$black:#000;
$wan:#3D3D3D;
$light-gray:#D2D6DA;
$dark-gray:#252525;
$regular-size:16px;
$ff1: "Proxima Nova", sans-serif;
$ff2: "Raleway", sans-serif;